.info {
    font-size: 200px;
    color: black;
    z-index: 99;
    position: absolute;
    bottom: 20px;
    right: auto;
    background-color: rgb(248, 240, 226);
    height: 70px;
    width: 300px;
    border-radius: 10px;
}

.nodisplay {
    display: none;
}